html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.info_label {
  font-size: 30px;
  margin-bottom: 30px;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
    width: calc(100% - 110px);
    height: 500px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 200px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

/* The Modal (background) */
.modal {
  display: grid;
  grid-template-columns: repeat(6, 30px); 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  width: 190px;
}

.model__input {
  width: 30px;
}

.defense__label,
.attack__label,
.health__label {
  text-align: center;
}

.chosen {
  border: 1px solid blue;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
  color: #fff;
  background: #cb4e4e;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 6px #ab3c3c;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
	border-radius: 0 0 5px 5px;
}

.btn:hover {
	box-shadow: 0 4px #ab3c3c;
}

.btn:active {
	box-shadow: 0 0 #ab3c3c;
}

.health__bar {
  width: 100%;
  height: 20px;
  background-color: green;
}
